src/PersonServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://servicio.jaxws.trapasoft.es/" name="PersonServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://servicio.jaxws.trapasoft.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicio.jaxws.trapasoft.es/" schemaLocation="PersonServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPersonasByDept">
    <part name="parameters" element="tns:getPersonasByDept"/>
  </message>
  <message name="getPersonasByDeptResponse">
    <part name="parameters" element="tns:getPersonasByDeptResponse"/>
  </message>
  <message name="getPersona">
    <part name="parameters" element="tns:getPersona"/>
  </message>
  <message name="getPersonaResponse">
    <part name="parameters" element="tns:getPersonaResponse"/>
  </message>
  <message name="getPersonas">
    <part name="parameters" element="tns:getPersonas"/>
  </message>
  <message name="getPersonasResponse">
    <part name="parameters" element="tns:getPersonasResponse"/>
  </message>
  <portType name="PersonService">
    <operation name="getPersonasByDept">
      <input wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonasByDeptRequest" message="tns:getPersonasByDept"/>
      <output wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonasByDeptResponse" message="tns:getPersonasByDeptResponse"/>
    </operation>
    <operation name="getPersona">
      <input wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonaRequest" message="tns:getPersona"/>
      <output wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonaResponse" message="tns:getPersonaResponse"/>
    </operation>
    <operation name="getPersonas">
      <input wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonasRequest" message="tns:getPersonas"/>
      <output wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonasResponse" message="tns:getPersonasResponse"/>
    </operation>
  </portType>
  <binding name="PersonServicePortBinding" type="tns:PersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPersonasByDept">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPersona">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPersonas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PersonServiceService">
    <port name="PersonServicePort" binding="tns:PersonServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

